.header {
  border-bottom: 2px solid $color_primary_orange;
  background-color: white;

  .nav {
    margin-left: auto;
    margin-right: 0;
  }

  a {
    &:hover {
      color: $color_primary_orange !important;
    }
  }
}
