.top_header{
    background-color: $color_primary_orange;
    .top_header_container{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}